.profile-title {
    text-align: center;
}

.profile-avatar {
    display: block;
    width: 128px;
    border-radius: 50%;
    margin: 0 auto;
}

/* .btn-change-avatar {
    background-color: "#8bc34a";
}

.btn-change-avatar:hover {
    background-color: "#7cb342",
} */