h2 {
  text-align: center;
}

form {
  padding: 10px 45px 32px
}

.btn {
  margin-top: 26px;
}

.input {
  width: 100%;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}